biopython==1.77
bson==0.5.8
dataclasses==0.7
Django==2.2.11
django-cors-headers==3.2.1
django-filter==2.2.0
djangorestframework==3.11.0
djangorestframework-csv==2.1.0
djangorestframework-filters==1.0.0.dev0
djangotoolbox==1.8.0
djongo==1.3.1
numpy==1.22.0
pymongo==3.10.1
python-dateutil==2.8.1
python-decouple==3.3
pytz==2019.3
six==1.14.0
sqlparse==0.2.4
unicodecsv==0.14.1
